appdirs==1.4.4
asgiref==3.2.10
autopep8==1.5.3
certifi==2020.6.20
chardet==3.0.4
distlib==0.3.1
Django==3.1
django-cors-headers==3.5.0
django-extensions==3.0.9
django-restful-admin==1.1.3
django-template-debug==0.3.5
django-widget-tweaks==1.4.8
djangorestframework==3.12.2
filelock==3.0.12
fire==0.1.2
idna==2.10
paho-mqtt==1.5.0
pbr==5.4.5
peewee==2.8.8
Pillow==8.0.1
pipenv==2020.11.4
psycopg2==2.8.6
pycodestyle==2.6.0
pytz==2020.1
requests==2.25.0
simplejson==3.17.2
six==1.15.0
sqlparse==0.3.1
stevedore==3.2.0
toml==0.10.1
urllib3==1.26.2
virtualenv==20.0.27
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.6
Workon==0.8.2
